#logo
{
    height: 50px;

}

body
{
    
    width: 90%; /* 设置容器宽度 */
    margin: 0 auto; /* 将左右边距设置为自动以实现居中 */
    
}

.choice a
{
  font-size: 20px;
  text-decoration: none; 
  color: white; 
  margin-left: 50px;
  position: relative;
  top: 8px;
}
#line 
{
    border: 0px;
    background-image: url('线条.png');
    background-repeat: repeat-x;
    height: 40px;
}

a.nowpage
{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px; 
}



.container {
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}



button {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #000;
  color: #fff;
  border-radius: 5px; 
  text-align: right;
}

button span {
  display: inline-block;
  width: 100%;
  text-align: inherit;
}
  
button:hover {
  background-color: #5b5f5b;
}

