#logo
{
    height: 50px;

}

.choice a
{
  font-size: 20px;
  text-decoration: none; 
  color: white; 
  margin-left: 50px;
  position: relative;
  top: 8px; 
}
#line 
{
    border: 0px;
    background-image: url('线条.png');
    background-repeat: repeat-x;
    height: 40px;
}

.grid
{
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    
}

.grid_container 
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin:auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: rgba(136, 136, 136, 0.767);
    border: rgba(0, 0, 0, 0.849) solid ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  


body
{
    
    width: 90%;
    margin: 0 auto;
    
}
a
{
    color: black;
    
}

#order:hover{
    background-image: url(orderlogo.png);
    background-size: 100% 100%;
    color: transparent;
}
#room:hover{
    background-image: url(roomlogo.png);
    background-size: 100% 100%;
    color: transparent;
}
#admin:hover{
    background-image: url(adminlogo.jpg);
    background-size: 100% 100%;
    color: transparent;
}
#member:hover{
    background-image: url(memberlogo.png);
    background-size: 100% 100%;
    color: transparent;
}
#sales:hover{
    background-image: url(saleslogo.png);
    background-size: 100% 100%;
    color: transparent;
}