*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Contact{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.Contact .title
{
    text-align: center;

}

.Contact .title h2{
    font-weight: bold;
    font-size: 27px;
}

.Contact .title p{
    font-size: 23px;
    margin:0 auto;
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form address"
    "form map";
    grid-gap:20px;
}

.form{
    grid-area: form;
}
.address{
    grid-area: address;
}
.map{
    grid-area: map;
}
.contact{
    padding:20px;
    background-color: orange;
    box-shadow: 0 5px 35px black;
}

.contact h3{
    color:white;
    font-weight: bold;
    font-size: 1.4em;
}

.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50
{
    display: flex;
    gap:20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox
{
    width: 100%;
}

.inputBox label{
    color:blue;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid black;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid black;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}



.button-area input[type="submit"]
{
    background: gray;
    color: white;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    
}

.button-area span{
    margin-left: 20px;
    color: blue;
    font-weight: bold;
    
}

.address {
    font-weight: bold;
    color: blue;
}

.address .addressBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.address .addressBox div span{
    min-width: 40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.map {
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.inputBox .text-danger{
    color:red;
}

.error
{
    color:red;
  
}


