body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(hotelapp2.jpg);
    color: balck;
}

#header
{
    margin: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: center;
    font-size: 12px;
}
img
{
    margin: 0;
    width: 300px;
}

h1{
    background-color: white;
    font-size: 25px;
    text-align: center;
}

#form
{
    
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: white;
}

form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#password-confirm-message {
    color: red;
}

a:hover
{
    font-style:italic;
	color:red;
}

